---
import Navigation from '../components/Navigation.astro';
import '../style/global.css';
const identity = {
  occupation: "就讀高科大電子工程系一年級",
  hobbies: ["程式設計", "j-pop", "動漫", "遊戲", "電腦", "健身", "腳踏車", "排球", "美股", "基本經濟概論", "哲學", "心理學"],
};
const skillcards = [
  {
	name: "程式設計",
	description: "高三開始接觸程式的一個新手小白，對演算法跟ai的基本概論有興趣，被各位大神電爛之後正在高速成長中...",
  },
  {
	name: "j-pop",
	description: "",
  },
  {
	name: "動漫",
	description: "",
  },
];
---

<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>235's page</title>
		<style>
      	h1 {
      	  color: blue;
      	  font-size: 4rem;
		}
    	</style>
	</head>
	<body>
		<Navigation />
		<h1>關於我</h1>
			<p>我是yo，但是似乎235更順耳所以也可以叫我235，目前{identity.occupation}</p>
				<h4>關鍵字：{identity.hobbies.join(", ")}</h4>
				<h3>"對這個世界永遠保持好奇心"</h3>
	</body>
</html>