<html lang="zh-cn">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>235's page</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/about/">about me</menu></a>
		<a href="/blog">blog</a>
		<h1>Hello World!</h1>
		<p>This is my blog page.</p>
		<ul>
			<li>
				<a href="/posts/hello-world">My first post</a>
			</li>
		</ul>
	</body>
</html>