---
---
<nav class="navbar">
  <a href="/" class="nav-logo">235 </a>
  <button class="menu" aria-expanded="false" aria-controls="main-menu">☰</button>
  <div id="main-menu" class="nav-links">
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog">blog</a>
  </div>
</nav>
